# Putanja do JSON datoteke za lokalnu pohranu (opcijski; zadano: ./data/marine.json)
DATABASE_PATH=./data/marine.json
# Adresa poslužitelja za simulator (kada se pokreće na drugom uređaju npr. Raspberry Pi)
INGEST_URL=http://localhost:3000/api/ingest
